@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #242424;
  background-color: #fbf7f4;
}
.page-header {
  color: #000000;
  background-color: #ffffff;
}
.inscription {
  align-content: center;
  padding: 51px 371px 82px 371px;
}
.navigation {
  display: flex;
  height: 64px;
  margin: 0 70px;
}
.navigation-logo {
  width: 140px;
  margin-right: 30px;
  align-items: stretch;
}
.navigation-list {
  color: #000000;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  margin-right: auto;
}
.nav-list2 {
  display: inline-flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  margin-right: 0;
}
.navigation-link {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  line-height: 24px;
  color: #000000;
  padding: 20px 16px;
  text-decoration: none;
}
.search {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.favorite {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-item-button {
  display: flex;
  flex-direction: column;
  padding: 8px 50px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--buttons-basic, #756157);
  text-align: center;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
.navigation-link-button {
  color: #ffffff;
  text-decoration: none;
}
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 20px;
  list-style-type: none;
}
.page-container {
  width: 1200px;
  color: #ffffff;
}
.main-container {
  flex-grow: 1;
  list-style-type: none;
}
.main-index {
  color: #000000;
  text-align: center;
}
.banner {
  display: block;
  margin: 0 auto;
  height: 485px;
  background-image: url("../images/background.jpg");
  background-color: #ffffff;
  background-repeat: no-repeat;
}
.advantages-item {
  display: flex;
}
.advantages-list {
  list-style-type: none;
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.advantage-title-white {
  font-size: 30px;
  color: #000000;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  display: flex;
  margin-top: 69px;
  margin-bottom: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}
.advantage-description-white {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #333;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 66px;
}
.advantage-item-content {
  display: flex;
  width: 400px;
  height: 385px;
  padding: 103px 85px;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  box-sizing: border-box;
  background: #82b3d3;
  color: #ffffff;
}
.advantage-image-village {
  background-image: url("../images/advantages/Village.jpg");
  background-color: #82b3d3;
  color: #ffffff;
}
.blue-block {
  display: flex;
}
.advantage-title {
  text-transform: uppercase;
}
.advantage-item-content-blue {
  background: var(--background-second-1, rgba(131, 179, 211, 0.12));
  width: 400px;
  height: 385px;
  padding: 103px 85px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-content: center;
  box-sizing: border-box;
  margin: 0;
}

.advantage-item-content-blue1 {
  background: var(--background-second-1, rgba(131, 179, 211, 0.12));
  width: 400px;
  height: 385px;
  padding: 103px 85px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-content: center;
  box-sizing: border-box;
  margin: 0;
}
.advantage-item-content-blue2 {
  background: var(--background-second-1, rgba(131, 179, 211, 0.12));
  width: 400px;
  height: 385px;
  padding: 80px 85px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-content: center;
  box-sizing: border-box;
  margin: 0;
}
.advantage-item-content-grey {
  background: var(--background-second-2, rgba(131, 179, 211, 0.2));
}
.advantage-item-content-white {
  background: #ffffff;
}

.advantages-title-blue {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  align-content: center;
}
.advantages-description-blue {
  align-self: stretch;
  color: var(--texts-second, #333);
  text-align: center;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.advantage-description {
  color: #ffffff;
  text-align: center;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.advantage-image-devils-bridge {
  background-image: url("../images/devil's-bridge.jpg");
  background-color: #82b3d3;
  color: #ffffff;
}
.appointment {
  padding: 96px 304px;
}
.newsletter {
  background-image: url("../images/Subscribe.jpg");
  color: #f2f2f2;
  display: flex;
  padding: 96px 258px 104px 258px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-repeat: no-repeat;
}
.page-footer.container {
  display: flex;
  margin: 0 auto;
}
.footer-social-list {
  display: flex;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  color: #ffffff;
  height: 120px;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  list-style-type: none;
}
.button-social {
  display: flex;
  padding: 0px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}
.footer-contacts-phone {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-left: 195px;
  margin-right: 194px;
  flex-wrap: nowrap;
}
.filter-form {
  background-image: url(../images/catalog/Filter.jpg);
  background-repeat: no-repeat;
  font-size: 18px;
  color: #ffffff;
  display: flex;
  padding: 35px 70px 70px 70px;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  margin-left: 0;
}
.catalog-filter {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 150px;
  height: 157px;
  outline: none;
  margin: 0;
  padding: 0;
}
.catalog-filter-group {
  display: inline;
  margin-right: 70px;
  border: 0 none;
}
.catalog-filter-group:nth-child(2n) {
  margin-right: auto;
}
.control {
  flex-wrap: nowrap;
}
.sorting-list {
  display: flex;
  align-content: end;
  margin-left: 70px;
}
.catalog-filter-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding-inline-start: 0;
  width: 150px;
}
.catalog-filter-item {
  list-style-type: none;
  text-align: left;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
.catalog-filter-button-submit {
  width: 191px;
  height: 36px;
  padding: 8px 50px;
  border-radius: 4px;
  background: var(--buttons-second, #82b3d3);
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 32px;
}
.catalog-filter-button-reset {
  width: 191px;
  height: 36px;
  padding: 8px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  background: transparent;
}
.catalog-buttons {
  display: block;
  margin-left: 70px;
}
.select-line {
  display: inline-flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  margin-left: auto;
  margin-right: 70px;
}
.select-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 120% */
  text-transform: uppercase;
}
.select {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 65px;
}
.select-control {
  height: 21px;
  width: 252px;
  margin-right: 70px;
}
.button {
  margin-right: 8px;
}
.button-sorting {
  display: flex;
  padding: 14px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 2px solid var(--forms-elements-1, #e5e5e5);
  margin-right: 8px;
}
.button-sorting:nth-child(3n) {
  margin-right: 0;
}
.hotels-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 50px 65px 60px 65px;
  padding: 0px;
}
.hotel-card {
  color: #000000;
  width: 300px;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  list-style-type: none;
  border: 1px solid var(--forms-elements-1, #e5e5e5);
}
.hotel-card:nth-child(3n) {
  margin-right: 0;
}
.hotel-card-link {
  text-decoration: none;
}
.hotel-card-title {
  color: #000000;
  font-family: PT Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
}
.name-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.hotel-card-type {
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 0;
}
.hotel-card-button.details {
  display: flex;
  flex-direction: column;
  padding: 8px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 4px;
  background: var(--buttons-basic, #756157);
  width: 40px;
  height: 20px;
  color: var(--texts-background-deafault, #fff);
  text-align: center;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
.hotel-card-button.favorite {
  padding: 8px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 4px;
  background: var(--buttons-second, #82b3d3);
  color: var(--texts-background-deafault, #fff);
  text-align: center;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
.hotel-card-button.rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  background: var(--forms-elements-2, #f2f2f2);
  color: #000000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 140px;
  height: 37px;
  flex-shrink: 0;
  text-transform: uppercase;
  flex-wrap: nowrap;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}
.card-buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
.newsletter-catalog {
  background-image: none;
  color: #000000;
  text-align: center;
}
.pagination {
  display: flex;
  justify-content: flex-start;
  margin: 40px 70px 60px 70px;
  padding: 0;
  padding-right: 8px;
}
.pagination-item {
  color: #000000;
  margin-right: 8px;
  list-style-type: none;
  display: flex;
  width: 60px;
  padding: 11.364px 0px 12.636px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--buttons-second, #82b3d3);
}
.pagination-link {
  text-decoration: none;
  color: #ffffff;
}
.page-main-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.newsletter-catalog.p {
  font-family: PT Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.visually-hidden {
  position: fixed;
  transform: scale(0);
}
.reserve-a-hotel {
  display: inline-flex;
  padding: 8px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  width: 276px;
  height: 36px;
  background: var(--buttons-basic, #756157);
  color: var(--texts-background-deafault, #fff);
  text-align: center;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin: 54px 108px 0px 108px;
}

.range-filter-group {
  border: none;
  box-sizing: border-box;
  margin-left: auto;
}
/* Range */
.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  margin-top: 36px;
  background-color: #242424;
  margin-left: 5px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #242424;
  border-radius: 25%;
}

.range-toggle:hover {
  background-color: #ffffff;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 4px solid #ffffff;
  border-color: #82b3d3;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
}

.range-input {
  display: flex;
  width: 143px;
  padding: 12px 20px;
  justify-content: space-between;
  align-items: center;
  color: #000000;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.modal-content {
  margin-bottom: 48px;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  color: #000000;
}

.modal-hotel {
  display: flex;
  padding: 64px 70px;
  align-items: flex-start;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.15);
}

.modal-close-button {
  width: 40px;
  height: 40px;
  left: 600px;
  top: -20px;
  border-radius: 40px;
  position: relative;
  z-index: 1;
  margin: 20px auto;
  cursor: pointer;
  border: none;
}
.modal-close-button:before {
  content: "+";
  color: #000000;
  position: absolute;
  z-index: 2;
  transform: rotate(45deg);
  font-size: 50px;
  line-height: 1;
  top: -5px;
  left: 4px;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.modal-close-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #337ab7;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  transform: scale(0.01);
}
..modal-close-button:hover:after {
  transform: scale(1);
}
.modal-close-button:hover:before {
  transform: scale(0.8) rotate(45deg);
  color: #fff;
}

.modal-title {
  margin: 0;
  font-family: PT Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 120% */
  text-transform: uppercase;
  margin-bottom: 64px;
}

.hotel-form .field-group {
  margin: 0;
  margin-bottom: 48px;
}

.hotel-form-user-options {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.hotel-form-user-options .control-label {
  font-weight: 400;
}

.hotel-form .field {
  width: 440px;
  height: 48px;
}
.hotel-form-recovery {
  line-height: 22px;
  color: #000000;
}

.hotel-form-button {
  display: flex;
  width: 577px;
  padding: 18px 77px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: #83b3d3;
  background: #83b3d3;
  margin-top: 48px;
  color: var(--basic-white, #fff);
  text-align: center;
  font-family: PT Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  text-transform: uppercase;
}

.hotel-form .button + .button {
  margin: 0;
}

.hotel-form-register {
  width: 360px;
  color: #000000;
  background-color: #ffffff;
}

.inner-header {
  margin-bottom: 32px;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}
.arrival-date .date-of-departure {
  display: flex;
  width: 440px;
  height: 48px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  margin-right: auto;
}
.buttons-modal {
  display: flex;
  box-sizing: border-box;
}
.modal-buttons {
  display: flex;
  width: 110px;
  align-items: center;
  flex-shrink: 0;
}
.hotel-modal-form-field {
  display: flex;
  width: 111px;
  height: 48px;
  align-items: center;
  flex-shrink: 0;
  text-align: center;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}
.children {
  margin-left: 230px;
  margin-right: 46px;
}
.adults {
  margin-right: 46px;
}
.tooltip {
  margin-top: 4px;
  margin-left: 280px;
  position: absolute;
  width: 20px;
  height: 20px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #83b3d3;
  display: block;
}

.tooltip-text {
  position: absolute;
  bottom: 100%;
  background-color: #333;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  text-transform: none;
  padding: 5px 8px;
  border-radius: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  z-index: 1;
  margin-bottom: 6px;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::before {
  content: "";
  width: 216px;
  height: 110px;
  position: absolute;
  transform: rotate(180deg);
  top: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
